<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form class="myForm" action="/search" method="get">
      <input class="inp" type="text" autocomplete="off" autofocus name="query" placeholder="Type Here"/>
      <input type="submit" value="save"/>
    </form>

    <h2 class="titles"></h2>
    <ul id="bing">
    </ul>


    <h2 class="titles"></h2>
    <ul id="google">
    </ul>


    <h2 class="titles"></h2>
    <ul id="phantom">
    </ul>
    

    <script type="text/javascript">

      var titles = document.getElementsByClassName('titles');
      var bing = <%- JSON.stringify(data.bing) %> ;
      var google = <%- JSON.stringify(data.google) %> ;
      var phantom = <%- JSON.stringify(data.phantom) %> ;


      if (bing.length > 0 ){
        titles[0].innerHTML = "Bing Data";
      }

      if (google.length > 0 ){
        titles[1].innerHTML = "Google Data";
      }


      if (phantom.length > 0 ){
        titles[2].innerHTML = "Phantom Data";
      }

      var bing_obj = document.getElementById('bing');
      var google_obj = document.getElementById('google');
      var phantom_obj = document.getElementById('phantom');
      makeList(bing, bing_obj);
      makeList(google, google_obj);
      makeList(phantom, phantom_obj);


      function makeList(data, obj){

        for (var i=0; i< data.length; i++){
          var li = document.createElement("li");
          var link = data[i][1];
          var a = document.createElement('a');
          a.textContent = data[i][0];
          a.setAttribute('href', link);
          li.appendChild(a);
          obj.appendChild(li);
        }

    }





    </script>

  </body>
</html>
